.contacts {
    margin: 0 auto;
    position: relative;
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    background-color: #fff;
}

.contacts__address {
    padding: 28px 20px 26px;
    display: flex;
    width: 100%;
    background-color: #fff;
}

.contacts__dealer {
    width: 50%;
    @include font('Oswald', 16px, 20px, 400, #111);
    text-transform: uppercase;
}

.contacts__coordinates {
    width: 50%;
    @include font('Arial', 14px, 20px, 400, #444);
    & span {
        display: block;
    }
}

.contacts__map {
    position: relative;
    width: 100%;
    line-height: 0;
    &::before {
        content: '';
        position: absolute;
        top: 139px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 45px;
        height: 53px;
        background-image: url('../img/map-pin-mob.png');
        background-repeat: no-repeat;
    }
}

.contacts__map-picture {
    display: inline-block;
    width: 100%;
    height: 362px;
    overflow: hidden;
}

.contacts__map-img {
    width: 100%;
    height: 362px;
    object-fit: cover;
    object-position: center bottom;
}

@media (min-width: 321px) {
    .contacts__map::before {
        top: 199px;
    }

    .contacts__map-picture {
        height: 396px;
    }

    .contacts__map-img {
        height: 396px;
    }
}

@media (min-width: 700px) {
    .contacts__address {
        padding: 62px 30px 59px;
    }

    .contacts__dealer {
        padding-top: 3px;
        padding-left: 42px;
        font-size: 20px;
        line-height: 25px;
    }

    .contacts__coordinates {
        padding-right: 42px;
        font-size: 16px;
        text-align: end;
        & span {
            margin-top: 20px;
        }
    }

    .contacts__map::before {
        top: 146px;
        width: 90px;
        height: 106px;
        background-image: url('../img/map-pin.png');
    }
}

@media (min-width: 769px) {
    .contacts__map::before {
        left: auto;
        transform: translateX(0);
        right: 337px;
        top: 150px;
    }

    .contacts__map-picture {
        height: 399px;
    }

    .contacts__map-img {
        height: 399px;
        object-position: right bottom;
    }
}

@media (min-width: 1200px) {
    .contacts__address {
        padding: 62px 76px 59px;
        position: absolute;
        top: 95px;
        left: 110px;
        width: 570px;
        z-index: 2;
    }

    .contacts__dealer {
        padding-left: 0;
    }

    .contacts__coordinates {
        padding-right: 0;
        padding-left: 40px;
        text-align: start;
    }
}